<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="license" content="https://creativecommons.org/licenses/by/4.0/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta itemprop="published-date" content="2023-10-10">
    <title></title>
    <link rel="icon" type="image/png" size="16x16" href="/images/favicon-16x16.png">
    <link rel="stylesheet" href="/css/style.css">
  </head>


  <body>

    <header>
      <nav>
        <span><a href="/">Home</a> • </span>
        <span><a href="/posts/">Posts</a> • </span>
        <span><a href="/categories/">Categories</a> • </span>
        <span><a href="/resources/">Resources</a> • </span>
        <span><a href="/about/">About</a></span>
      </nav>
    </header>

    <main>

