    <p>
        Welcome to my site. Most posts are about Information Technologies.
        The site works as my personal notes, I like writing about everything what amaze me and what could help to other people.
        There are random pictures across the site. Most pictures are faces of unknown people. These pictures should make the site more as gallery
        to make your read more comfortable and interesting. But there is other reason to fight against racism by gentle and peaceful way.
        When people will meet more often faces of people different race and ethnicity, then they may be more friendlier to them. That does not
        mean I am accepting unregulated migration, the whole topic is more complicated to explain in one paragraph.
    </p>
