      <figure class="default-img">
        <img
          src=/images/esteban-amaro-hy8y0Wp_Lp0-unsplash.jpg
          alt="Flock of birds fly above lonely boat on lake" />
        <figcaption>
            Photo by <a href="https://unsplash.com/@estebanamaro?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Esteban Amaro</a> on <a href="https://unsplash.com/photos/birds-flying-over-boat-hy8y0Wp_Lp0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </figcaption>
      </figure>

