      <figure class="default-img">
        <img
          src=/images/random/boston-public-library-C_BoyToi7D0-unsplash.jpg
          alt="Young native american boy in origin clothes" />
        <figcaption>
          Photo by
          <a href="https://unsplash.com/@bostonpubliclibrary?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Boston Public Library</a>
          on
          <a href="https://unsplash.com/photos/woman-in-black-and-gold-dress-C_BoyToi7D0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </figcaption>
      </figure>

