      <figure class="default-img">
        <img
          src=/images/random/boston-public-library-ZWo_-II3Xck-unsplash.jpg
          alt="Old native american chief in origin clothes" />
        <figcaption>
          Photo by
          <a href="https://unsplash.com/@bostonpubliclibrary?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Boston Public Library</a>
          on
          <a href="https://unsplash.com/photos/an-old-black-and-white-photo-of-a-native-american-man-ZWo_-II3Xck?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </figcaption>
      </figure>

