      <figure class="default-img">
        <img
          src=/images/random/danie-franco-o1PKM7-8AH4-unsplash.jpg
          alt="Grand old woman in simple clothes" />
        <figcaption>
          Photo by
          <a href="https://unsplash.com/@dani_franco?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Danie Franco</a>
          on
          <a href="https://unsplash.com/photos/person-smiling-at-the-camera-o1PKM7-8AH4?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </figcaption>
      </figure>

