      <figure class="default-img">
        <img
          src=/images/random/donald-teel-wCIDfKBMDHE-unsplash.jpg
          alt="Grand old man with long hair and beard" />
        <figcaption>
          Photo by
          <a href="https://unsplash.com/@epartner?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Donald Teel</a>
          on
          <a href="https://unsplash.com/photos/mans-portrait-photography-wCIDfKBMDHE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </figcaption>
      </figure>

