      <figure class="default-img">
        <img
          src=/images/random/jd-mason-cKT0oJL9vMI-unsplash.jpg
          alt="Old man thinking" />
        <figcaption>
          Photo by
          <a href="https://unsplash.com/@jmason?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">JD  Mason</a>
          on
          <a href="https://unsplash.com/photos/side-view-of-mans-face-cKT0oJL9vMI?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </figcaption>
      </figure>

