      <figure class="default-img">
        <img
          src=/images/random/leigh-cooper-9OEgAjTCMr8-unsplash.jpg
          alt="Old man walk on the street" />
        <figcaption>
          Photo by
          <a href="https://unsplash.com/@leigh_cooper?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Leigh Cooper</a>
          on
          <a href="https://unsplash.com/photos/man-beside-the-road-with-cars-9OEgAjTCMr8?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </figcaption>
      </figure>

