      <figure class="default-img">
        <img
          src=/images/random/ravi-patel-VMGAbeeJTKo-unsplash.jpg
          alt="Old smiling woman" />
        <figcaption>
          Photo by
          <a href="https://unsplash.com/@ravi_patel?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Ravi Patel</a>
          on
          <a href="https://unsplash.com/photos/smiling-woman-VMGAbeeJTKo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </figcaption>
      </figure>

