      <figure class="default-img">
        <img
          src=/images/random/takalani-radali-YuQsptBVzuw-unsplash.jpg
          alt="Old cowboy face with small beard" />
        <figcaption>
          Photo by
          <a href="https://unsplash.com/@taki?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Takalani Radali</a>
          on
          <a href="https://unsplash.com/photos/closeup-photography-of-man-wearing-black-hat-YuQsptBVzuw?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </figcaption>
      </figure>

